/* This is the style sheet for all of the 
/* CSS rules for the mobile tiled_carousel 		*/

/* temp css rules */
.mobile-portrait-tiled_carousel{}

.tiled_carousel_inner {
	float:left;
	overflow: hidden;
}

.tiled_carousel_ul {
	position:relative;
	list-style-type: none; /* removing the default styling for unordered list items */
	margin: 0px;
	padding: 0px;
	width:9999px;
	padding-bottom:10px;
}

.tiled_carousel_ul li {
	float: left;
	padding:0px;
	height:380px;
	margin-top:10px;
	margin-bottom:10px;
	cursor: move;
}


.tiled_carousel_ul li {
    -webkit-background-size: 100% auto;
    -moz-background-size:  100% auto;
    -o-background-size:  100% auto;
    background-size:  100% auto;
    background-position: 0;
    background-repeat: no-repeat;
 }

.tiled_carousel_ul li img {
	.margin-bottom:-4px;
	cursor:pointer;
	cursor: hand;
	border:0px;
}

.tiled_carousel_navigation {
	text-align: center;
	width: 100%;
}
.tiled_carousel_navigation ul, .pagination ul {
	list-style-type: none;
	list-style: none;
	margin: 0 auto;
	margin-top: -120px;
	width: 95%;
}

.pagination {
	width: 100%;
	text-align: center;
}

.pagination li {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #fff;
	margin: 10px 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #374665;
}

.pagination li.active {
	background: #374665;
}

.left_scroll, .right_scroll{
	float:left;
	height:30px;
	width:30px;
	margin: 10px;
	background: #C0C0C0;
	display: inline;
}

.right_scroll {
	cursor: pointer;
	cursor: hand;
	content: " &laquo ";
	float:left;
}

.left_scroll {
	cursor: pointer;
	cursor: hand;
	content: " &raquo; ";
	float: right;
}

.tiled_carousel_counter {
	float: right;
	width: 40px;
	height: 20px;
	background: transparent;
	color: #ccc;
	font-size: 10px;
	margin-top: -60px;
	position: relative;
	z-index: 100;
}

.tiled_carousel_table {
	width: 100%;
	display: table;
	height: 100%;
}

.tiled_carousel_row {
	display: table-cell;
   	text-align: center;
   	vertical-align: middle;
}

@media only screen and (max-width: 960px) {
	.tiled_carousel_ul li {
		height: 280px;
	}
}

@media only screen and (max-width: 640px) {
	.tiled_carousel_ul li {
		height: 500px;
	}
}

